footer {
    text-align: center;
    padding: 3px;
    background-color: skyblue;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  